<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/adminstyles.css') }}">
    <title>Admin login</title>
</head>
<body>
<div class="container">
    <div class="form_box">
        <h1>Admin login</h1>
        <form method="post" action="/auth" id="ad-form">
            <div class="input_group">
                <div class="input_field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username">
                </div>

                <div class="input_field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <div class="input_field">
                    <label for="show-password">Show password</label>
                    <input type="checkbox" id="show-password" onclick="showp_Function()">
                </div>
                <!-- js function for showing password -->
                <script type="text/javascript">
                    function showp_Function() {
                        var show = document.getElementById('password');
                        if (show.type=='password') {
                            show.type='text';
                        }
                        else {
                            show.type='password';
                        }
                    }
                </script>
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </div>
            <button type="submit" value="submit" form="ad-form">Login</button>
        </form>
    </div>
</div>

</body>
</html>