<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nollydic Film House Log book Owerri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">
        <img src="Nollydic_logo.jpeg" alt="company logo">
      </div>
      <br>
      <div class="title">
        Nollydic Film House
        Log book
      </div>
      <form class="form" action="/" method="post">
        <div class="input_field">
          <label>Full name</label>
          <input type="text" name="fullName" placeholder="Enter your full name" class="input">
        </div>
        <div class="input_field">
              <label>Date</label>
                <input type="datetime-local" name="date" placeholder="dd/mm/yyyy" class="input">
            </div>
            <p>
                  <div class="input_field">
                    <label>Role</label>
                  </div>
                <div class="input_field">
                  <div class="radio">
                    <input type="radio" name="position" value="Staff" class="input">
                  </div>
                  <label>staff</label>
                  <div class="radio">
                    <input type="radio" name="position" value="Visitor" class="input">
                  </div>
                  <label>visitor</label>
                </div>
              <div class="input_field">
                <label>If staff select department</label>
                <div class="custom_select">
                  <select name="department" id="department">
                    <option aria-placeholder="department">....</option>
                    <option value="Tech team">Tech team</option>
                    <option value="Tech team">Tech team</option>
                    <option value="Tech team">Tech team</option>
                    <option value="Tech team">Tech team</option>
                  </select>
                </div>
              </div>
              <div class="input_field">
                <label>If visitor select reason for visit</label>
                <div class="custom_select">
                  <select name="reason" id="reason">
                    <option aria-placeholder="reason">....</option>
                    <option value="Business">Business</option>
                    <option value="Business">Business</option>
                    <option value="Business">Business</option>
                    <option value="Business">Business</option>
                  </select>
                </div>
              </div>
            </p>
              <div class="input_field">
                  <label>Phone number</label>
                  <input type="tel" name="telNo" placeholder="+234-----------" class="input">
              </div>
              <div class="input_field">
                  <input type="submit" value="Log it" class="btn">
              </div>
      </form>
    </div>
  </body>
</html>