<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nollydic Film House Log book Owerri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="image">
        <img src="{{ url_for('static', filename='images/Nollydic_logo.jpeg') }}" alt="company logo">
      </div>
      <br>
      <div class="title">
        Nollydic Film House
        Log book
      </div>

      <form class="form" action="{{ url_for('home')}}" method="post">
        <div class="input_field">
          <label>Full name</label>
          <input type="text" name="fullName" placeholder="Enter your full name" class="input">
        </div>

        <div class="input_field">
              <label>Date</label>
                <input type="datetime-local" name="date" placeholder="dd/mm/yyyy" class="input">
            </div>
            <p>
                  <div class="input_field">
                    <label>Role</label>
                  </div>

                <div class="input_field">
                  <div class="radio">
                    <input type="radio" name="position" value="Staff" checked class="input" onclick="$('.custom_select').toggle()">
                  </div>
                  <label>staff</label>
                  <div class="radio">
                    <input type="radio" name="position" value="Visitor" class="input" onclick="$('.custom_select').toggle()">
                  </div>
                  <label>visitor</label>
                </div>

              <div class="input_field">
                <div class="custom_select" id="staff_department">

                  <select name="department" id="department">
                    <option value="" disabled selected hidden>Select department</option>
                    <option value="Administrative">Administrative</option>
                    <option value="Film Production">Film Production</option>
                    <option value="Media/Photography">Media/Photography</option>
                    <option value="Music Studio">Music Studio</option>
                    <option value="Nollydic Make Over">Nollydic Makeover</option>
                    <option value="Post Production">Post Production</option>
                    <option value="Script Writing">Script Writing</option>
                    <option value="Syndicate Style Models">Syndicate Style Models</option>
                    <option value="Tech Team">Tech Team</option>
                  </select>
                </div>

              </div>
              <div class="input_field">
                <div class="custom_select" id="visitor_reason" hidden>
                  <select name="reason" id="reason">
                    <option value="" disabled selected hidden>Select reason for visit</option>
                    <option value="Contract Drafting">Contract draffting</option>
                    <option value="Information Finding">Information finding</option>
                    <option value="Job Application">Job application</option>
                    <option value="MakeOver section">MakeOver section</option>
                    <option value="Meeting with the CEO">Meeting with the CEO</option>
                    <option value="Music recording">Music recording</option>
                    <option value="Photography section">Photography section</option>
                    <option value="Purchase Goods and Services">Purchase goods and services</option>
                  </select>
                </div>
              </div>
            </p>
              <div class="input_field">
                  <label>Phone number</label>
                  <input type="tel" name="telNo" placeholder="+234-----------" class="input">
              </div>
              <br>
              <div class="input_field">
                  <input type="submit" value="Log in" class="btn">
              </div>
      </form>
    </div>

  </body>
</html>